/*Base*/
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Main components*/
.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.animations {
    position: absolute;
}

.PhotoSlider {
  position: relative;
  top:120px;
  width: 1600px;


  @import "~slick-carousel/slick/slick.css";
  @import "~slick-carousel/slick/slick-theme.css";
}

.Projector{
  position: relative;
  width: 1600px;
  height: 700px;
  background-color: #E6E5E5;
  border-radius: 63px;
  top:80px;
  left:130px;
  box-shadow: inset 15px 50px 30px 20px #FEFDFD;
}

.center{
  position: relative;
  width: 800px;
  height: 350px;
  border-radius: 63px;

}

.move{
  position: relative;
    top:300px;
  left:300px;
}

/*Buttons, icons and logos*/

.button{
  position: absolute;
  top: 0;
  right: 8px;
  border-radius: 50%;
  padding:12px 24px;
  background-color:#EDAA9B;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  color: white;
  font-size:36px;
}

.icon{
  position: relative;
  top:-80px;
}

.logo1{
  position: absolute;
  top: 180px;
  left: 405px;
  background: white;
  width: 230px;
  height: 210px;
  border-radius: 50%;
}

.logo2{
  position: absolute;
  top: 390px;
  left: 780px;
  background: #4B3535;
  width: 230px;
  height: 200px;
  border-radius: 35%;
}

.logo3{
  position: absolute;
  top: 520px;
  right: 390px;
  background: white;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.logo4{
  position: absolute;
  top: 510px;
  left: 280px;
  background: #CDCDCD;
  width: 230px;
  height: 220px;
  border-radius: 50%;
}

.logo5{
  position: absolute;
  top: 170px;
  right: 525px;
}

.logo {
  font: 150px 'Lucida Console', monospace;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 40px;
  font-weight: 900;
}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

.logo .word1 {
  color: #ea807f;
  margin-right: -38px;

  transform: rotateY(180deg);
  display: inline-block;
  z-index: 10;
}
.logo .word1:before {
  right: -4px;
  top: -9px;
  border-top-color: #282828;
  border-right-color: #282828;
}
.logo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #282828;
  border-left-color: #282828;/* would be right, but we flipped the word */
}

/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.logo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #282828;
  border-left-color: #282828;
}
.logo .word2:after {
  right: -4px;  
  bottom: 4px;
  border-bottom-color: #282828;
  border-right-color: #282828;
}
